<div class="w-full p-3">
  <!--Table Card-->
  <div class="bg-white border rounded shadow">
    <div class="border-b p-3">
      <h5 class="font-bold uppercase text-gray-600">{{title}}</h5>
    </div>
    <div class="p-5">
      <table mat-table [dataSource]="data" class="mat-elevation-z8" style="width: 100%;">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Người thực hiện </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef> Mô tả </th>
          <td mat-cell *matCellDef="let element"> {{element.content}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef> Thời gian bắt đầu </th>
          <td mat-cell *matCellDef="let element"> {{element.start}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef> Thời gian kết thúc </th>
          <td mat-cell *matCellDef="let element"> {{element.end}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="names"></tr>
        <tr mat-row *matRowDef="let row; columns: names;"></tr>
      </table>
    </div>
  </div>
</div>